/* .card-parent-container {
  height: 100vh;
  max-height: 100vh;
  padding-right: 56.25%;
}

.card-container {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr 2fr 1fr;
  height: 100%;
  width: 100%;
  border: 1vmin solid black;
  border-radius: 2vmin;
  padding: 1vmin 1vmin 1vmin 1vmin;
  box-sizing: border-box;
  font-size: 5vmin;
}

.name-mana-container {
  display: grid;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: span 1;
  overflow: hidden;
  object-fit: cover;
}

.name {
  grid-column-start: 1;
  grid-column-end: span 1;
  overflow: hidden;
  text-align: left;
  font-size: 6vmin;
  font-weight: bold;
}

.cost {
  grid-column-start: 2;
  grid-column-end: span 1;
  overflow: hidden;
  text-align: right;
}

.image-container {
  max-height: 100%;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
  object-fit: cover;
  overflow: hidden;
}

.card-image {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.type-set-container {
  display: grid;
  grid-row-start: 3;
  grid-row-end: 4;
}

.type-container {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: left;
}

.set-logo-container {
  grid-column-start: 2;
  grid-column-end: span 1;
  text-align: right;
}

.text-container {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 4;
  grid-row-end: 5;
  overflow: hidden;
}

.power-toughness-container {
  grid-column-start: 4;
  grid-column-end: -1;
  text-align: right;
} */
