.game-area {
  height: 100vh;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 15vw;
}

.side-area {
  display: grid;
  grid-template-rows: 20vh repeat(4, 1fr);
}

.temp {
  border: 1px solid black;
}