
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body, #root {
  height: 100%;
}

.lotus {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  background-image: url('../lotus.jpg');
  background-size: cover;
  height: 100%;
}

.mystic {
    font-family: 'Raleway', sans-serif;
    color: #F9F3F4;
    text-shadow: 0px 0px 300px #000;
    font-size: 300%
}

.buttonsAndSelect {
    display: grid;
    grid-row: 3 / 3;
    justify-content: left;
}

.btn, select {
    margin-left: 10vw;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em !important;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
    justify-self: start;
}

.btn:hover {
  color: #fff;
}

.stacked {
  display: grid;
}

.modal-content {
  max-height: 98vh !important;
}

.modal-body {
  overflow: scroll;
}

.modal-dialog {
  margin: 1vh auto !important;
}
